<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="NikiAndroidApp_English" parallel="tests" verbose="10">
  
  
  <listeners>
	<listener class-name="generic.Reporting" />

</listeners>
  
  <test name="Niki-Android_App_English">
    <classes>
    
    
      <class name="com.Niki_Old.TestCases.Login">
      <methods>
      	<include name="verifyHomePage" />
      	<include name="verifyLanguageLelection" />
      	<include name="verifyTextBoxEditable" />
      	<include name="verifyValidPhoneNumberEntry" />
      	<include name="verifySubmitBtnEnable" />
      	<include name="verifyClickSubmitBtn" />
      	<include name="verifyOTPEnterPageHeader" />
      	<include name="verifyGetOtpCallBtn" />
      	<include name="verifyCallingYou" />
      	<include name="verifyTroubleSignLink" />
      	
      	<include name="verifyNonNumericOTP" />
      	<include name="verifyWrongOTP" />
      	<include name="verifyClickEditSymbol" />
      	<include name="verifyReEnterPhNo" />
      	<include name="verifyCorrectOTP" />
      	<include name="verifyTroubleSignLink" />
      	<include name="verifyGetStartedScreen" />
      	<include name="verifyDeviceLocationPopup" />
      	<include name="verifyLocationAllowBtn" />
      	<include name="verifyAllowAppPopup" />
      </methods>
      </class>
      
      <class name="com.Niki_Old.TestCases.AboutAndUpdate">
      	<methods>
      		<include name="verifyAboutLink" />
			<include name="verifyAboutPageElements" />
			<include name="verifyHowNikiWorksLink" />
			<include name="verifyTermsAndConditionLink" />
			<include name="verifyPartnerLink" />
			<include name="verifyUpdate" />
			<include name="verifyAboutLinkFunctionality" />
      		
      	</methods>
      
      
      
      </class>
      
      
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
